/*! responsive-nav.js 1.0.39 by @viljamis */

@font-face {
  font-family: "responsivenav";
  src:url("../assets/responsivenav.eot");
  src:url("../assets/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../assets/responsivenav.ttf") format("truetype"),
    url("../assets/responsivenav.woff") format("woff"),
    url("../assets/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}


.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  display: inline-block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav-toggle {
  background: url(../assets/hamburger.png) no-repeat center;
  background-size: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 55px;
  float: right;
  top:15px;
}

.nav-toggle.active {
  background: url(../assets/close.png) no-repeat center;
  background-size: 30px;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 747px) {
  .nav-collapse li {
    width: 100%;
  }
}
